* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

ul{
    padding: 0px;
}

body {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}

.head_container {
    background-color: orange;
    margin: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
}

.heading {

    padding: 8px 20px;
    align-items: center;
    justify-content: center;

}

.button {
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    max-width: 15vw;
    padding: 8px 30px;
    font-size: 15px;
    margin: 4px 10px;
    transition: 0.3s;

}


.text_input {
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    color: black;
    height: 4vh;
    max-width: 25vw;
    min-width: 20vw;
}


.time_input {
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 10px;
    color: black;
    max-width: 1vw;
    height: 4vh;
}



.workout_form {
    display: flex;
    justify-content: space-around;
    background-color: orange;
    margin: 30px 30px 30px 30px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
}


.template {
    background-color: orange;
    margin: 30px 30px 30px 30px;
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
}

.exercise_data {
    background-color: red;
    padding: 10px 20vh;

    justify-content: space-between;
    align-items: center;
}

.add_exercise {

    padding: 4px 20vh;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    color: black;
}

.add_time {
    padding: 4px 20vh;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    color: black;

}

.template_1 {
    background-color: orange;
    margin: 30px 30px 30px 30px;
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
}

.template_2 {
    background-color: orange;
    margin: 30px 30px 30px 30px;
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
}

.add_temp {

    padding: 0 30vh;
    height: 30px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

/* .end_block{
    background-color: orange;
    margin: 170px 30px 30px 30px;
    padding: 20px 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);

  }

  .end_work{
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    background-color: aquamarine;
    border: 2px solid black ;
    border-radius: 10px;
    color: black;
    width: 20vw;
    transition: 0.3s;
    
  } */



.todo-items li {
    list-style-type: none;
}

.none {
    border: none;
    margin-left: -13rem;
}

#todo-input {

    padding: 0 30vh;
    height: 30px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

#addButton,
.remove {
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    width: 20vw;
    padding: 8px 30px;
    font-size: 15px;
    margin: 4px 10px;
    transition: 0.3s;

}

 #todo-list li {
    list-style-type: upper-roman;
    font-size: 17px;
    font-weight: 700;
    margin: 15px 0;
}